@page "/AnimalsADD"
@using cyrcach.Data
@inject WorkersService WoService

<div>
    <br/>
    <select name="number" @bind="Ani1">
        <option value="">Select a number</option>
      @GetAllAsync2()
          @if (workers != null)
        {
            foreach (Worker w in workers)
            {
                 <option>
                    @w.Id
                </option>
            }
        }
         </select>
        <input type = "text" placeholder = "Вводим тип зверя  " @bind = "type_animals"/>
        <input type = "text" placeholder = "Вводим животное" @bind = "animals"/>   
        <br/>
        <input type = "number" placeholder = "Введите возраст зверя в годах" @bind = "age"/>
        <input type = "text" placeholder = "Введите пол животного" @bind = "gender"/>
        <input type = "date" placeholder = "Дата" @bind = "arrival_date_at_the_zoo"/>
        <input type = "text" placeholder = "Потомство" @bind = "offspring"/>
        <label>@search_error</label>
        
        <button @onclick = "GetWorckersByCreate1">Добавить животное</button>
        <button onclick= "history.go(-1)" > ← </button>
</div>

@code {
    private List<Worker> workers;
    private string? search_error;
    public int? id_animals;
    public string? type_animals;
    public string? animals;
    public int? age;
    public string? gender;
    public DateTime arrival_date_at_the_zoo;
    public string? offspring;

    
     private async Task GetAllAsync2()
    {
       workers = await WoService.GetWorkers2();
    }

    private int? _Ani = null;
    private int? Ani1
    {
        get
        {
            return _Ani;
        }
        set
        {
            _Ani = value;
        }
    }

    public async Task GetWorckersByCreate1()
    {
        workers = await WoService.GetWorckersByCreate1(Ani1.Value,type_animals,animals,age.Value,gender,arrival_date_at_the_zoo,offspring);
    }
}