@page "/CageShow"
@using cyrcach.Data
@inject WorkersService WoService

<PageTitle>Counter</PageTitle>

<h1>Zoo</h1>
        <br/>
        <input type = "number" placeholder = "Удалем уникальный индекс" @bind = "id"/>    
        <button @onclick = "DeletMed1">Удалить</button>
        <button @onclick = "CageShoww">Show all</button>
        <button onclick= "history.go(-1)" > ← </button>
        <br/>
        <table id = "table">
        <thead>
            <tr>
                   <th>Id</th>
                   <th>habitat</th>
                   <th>animals_count</th>
            </tr>
        </thead>
        @if (workers != null)
        {
            foreach (Worker w in workers)
            {
                 <tr>
                    <th>@w.Id</th>
                    <th>@w.habitat</th>
                    <th>@w.animals_count</th>
                 </tr>
            }
        }
    </table>

@code {
    private List<Worker> workers;
    private string? search_name;
    private string? search_error;
    private int? search_id;
    public int? id;
    public string? z;
    private async Task CageShoww()
    {
        workers = await WoService.CageShow();
    }
    public async Task DeletMed1()
    {
        if (id != null)
        {
            workers = await WoService.DeletCage(id.Value);
        }
        else
        {
            search_error = "ERROR no saved name";   
        }
    }
}
