@page "/Exchange"
@using cyrcach.Data
@inject WorkersService WoService

<div>
    <br/>
    <select name="number" @bind="offspring1">
        <option value="">Select a number</option>
      @GetAllAsync3()
          @if (workers != null)
        {
            foreach (Worker w in workers)
            {
                 <option>
                    @w.ID_offspring
                </option>
            }
        }
         </select>
        <input type = "text" placeholder = "откуда обменяли" @bind = "offspring"/>
        <input type = "number" placeholder = "номер обмена" @bind = "id_exchange"/>   
        <br/>
        
        <button @onclick = "GetWorckersByoffspring">Добавить обмен</button>
        <button onclick= "history.go(-1)" > ← </button>
</div>

@code {
    private List<Worker> workers;
    private string? offspring;
    public int? id_offspring;
    public int? id_exchange;



    private async Task GetAllAsync3()
    {
        workers = await WoService.GetWorkers3();
    }

    private int? _offspring = null;
    private int? offspring1
    {
        get
        {
            return _offspring;
        }
        set
        {
            _offspring = value;
        }
    }

    public async Task GetWorckersByoffspring()
    {
        workers = await WoService.GetWorckersByoffspring(offspring1.Value,offspring,id_exchange.Value);
    }
}