@page "/Feeding"
@using cyrcach.Data
@inject WorkersService WoService

<div>
    <br/>
    <select name="number" @bind="feeding1">
        <option value="">Select a number</option>
      @GetAllAsync5()
          @if (workers != null)
        {
            foreach (Worker w in workers)
            {
                 <option>
                    @w.ID_feeding
                </option>
            }
        }
        </select>
        <input type = "number" placeholder = "сезон" @bind = "sezon"/>
        <input type = "date" placeholder = "дата" @bind = "date"/>
        <input type = "number" placeholder = "колличество дней" @bind = "count_in_day"/>
        <input type = "number" placeholder = "номер типа питания" @bind = "id_menu"/>
        <br/>
        
        <button @onclick = "GetWorckersByFeeding">Добавить обмен</button>
        <button onclick= "history.go(-1)" > ← </button>
</div>

@code {

    private List<Worker> workers;
    private int? id_feeding;
    private int? sezon;
    private DateTime date;
    private int? count_in_day;
    private int? id_menu;

    private async Task GetAllAsync5()
    {
        workers = await WoService.GetWorkers5();
    }

    private int? _fed = null;
    private int? feeding1
    {
        get
        {
            return _fed;
        }
        set
        {
            _fed = value;
        }
    }

    public async Task GetWorckersByFeeding()
    {
        workers = await WoService.GetWorckersByFeeding(feeding1.Value,sezon.Value,date,count_in_day.Value,id_menu.Value);
    }
}