<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="">
                <span class="oi  oi-info" aria-hidden="true"></span>  Animals
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="CreateAnimals">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Create Animals
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="feed">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Feeding Animals
            </NavLink>
        </div>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Map and Delet
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="AUP">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Animals Change
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="Med">
                <span class="oi oi-justify-center" aria-hidden="true"></span>  Med
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="Cage">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Cage
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="CreateCage">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Create Cage
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="AUPCage">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Upp Cage
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="CageShow">
                <span class="oi oi-infinity" aria-hidden="true"></span>  CageShow
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="CreateFeeding">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Create Feeding
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="FeedingShow">
                <span class="oi oi-infinity" aria-hidden="true"></span>  FeedingShow
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="CreateMed">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Create Med
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="AUPMed">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Upp Med
            </NavLink>
        </div>
        <div class="nav-item px-4 ">
            <NavLink class="nav-link" href="MedShow">
                <span class="oi oi-infinity" aria-hidden="true"></span>  Med Show
            </NavLink>
        </div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}